#nav-dropdown{
  padding: .25rem 1.5rem;
}

.dropdown-menu{
  background-color: #343a40;
}

.dropdown-item{
  color: #939c8d;
}

.dropdown-item:hover{
  color: rgba(255,255,255,.75);
  background-color: #343a40;
}

.form-label{
  color: rgba(255,255,255,.75);
}

.form-control{
  background-color: #343a40;
  color: #fff;
}

.form-control:focus{
  color: #fff;
  background-color: #343a40;
}

.imageLogo {
  height: 35px;
}
